/* general */
html,body {
    overflow: hidden;
    font-size: 12px;
    height: 100%;
    width: 100%;
}
a[href]:hover {
    text-decoration: none;
}
/* helper classes */
.pre-wrap {
    white-space: pre-wrap;
    word-wrap: break-word;
}
.no-wrap-text  {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.full-height {
    height: 100%;
}
ul.no-list-style {
    list-style: none;
}
.scrollbar {
/*     white-space: pre-line; */
    height: 100%;
    overflow-y: hidden;
    position: relative;
}
.relative-div {
    position: relative;
}
.pointer {
    cursor: pointer;
}
.container-fluid > .row.no-row-padding > [class*='col-sm-'] {
    padding: 0;
}

/* menu */
#menu {
    height: 50px;
    padding-top: 9px;
}

/* hover over notes */
#notes-display-options {
    display: none;
    position: absolute;
    right: 15px;
    top: 7px;
}

/* color choices */
.color-choices {
    display: block;
    width: 120px;
    margin: auto;
}
    .color-choices .color-choice {
        display: inline-block;
        width: 20px;
        height: 20px;
        padding: 0;
        margin: 0;
        border: 1px solid transparent;
    }
        .color-choices .color-choice:hover {
            border-color: #000;
        }
        .color-choices .color-choice a {
            display: block;
        }

/* notes view */
#notes {
    background: #333;
}
    #note-display {
        background: #CCC;
        padding: 10px;
    }
#notes-list {
    margin-bottom: 20px;
    overflow-y: auto;
}
    #notes-list .notes {
        margin-top: 20px;
    }
    #notes-list .note {
        margin: 10px;
        padding: 0px;
        padding-top: 7px;
/*         padding-left: 7px; */
        background: #CCC;
        overflow-y: hidden;
        height: 250px;
    }
        #notes-list.stacked .note {
            max-width: 100%;
            width: 1000px;
            margin: 10px auto 10px auto;
        }
        #notes-list.tiled .note {
            width: 32%;
            min-width: 250px;
            display: inline-block;
        }
        #notes-list .note .header {
            height: 20px;
        }
            #notes-list .note .updated {
                padding-left: 10px;
            }
                #notes-list .note .updated i {
                    cursor: default;
                }
            #notes-list .note .title {
                font-weight: bold;
                text-align: center;
            }
            #notes-list .note .options {
                float: right;
            }
                #notes-list .note .options .dropdown {
                    cursor: pointer;
                    margin-right: 10px;
                }
        #notes-list .note .content {
            height: 190px;
            padding-bottom: 10px;
            /* background: rgba(186, 199, 225, 1.0); */
        }
            #notes-list .note .content .not-editing-text {
                padding: 0px 10px 0px 10px;
            }
        #notes-list .note .tags {
            height: 30px;
        }
