/* general */
html,body {
    overflow: hidden;
    font: bold 12px Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
}
a[href]:hover {
    text-decoration: none;
}
.btn {
    font-size: 1rem;
    padding: 4px 8px;
    color: #6e6e6e;
    text-decoration: none;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #ffffff;
    background: #f3f3f3;
/*     background: linear-gradient(#F5F5F5, #F1F1F1); */
    border: solid 1px #DCDCDC;
    border-radius: 2px;
    transition: border-color .218s;
    cursor: pointer;
    outline: none !important;
}
    .btn:hover {
        color: #333333;
        border-color: #888888;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    }
    .btn:active {
        color: #000000;
        border-color: #444444;
    }
    .btn:focus {
        outline: none;
    }
.tag-label {
    padding: 4px;
    border: 1px solid #000;
    border-radius: 3px;
    margin-right: 10px;
    position: relative;
    display: inline-block;
    clear: both;
    font-size: .8rem;
}
    .tag-label .name {
        padding: 3px 8px;
    }
    .tag-label .close {
        font-size: 1.2rem;
    }
.stklt-input {
    width: 100%;
    padding: 4px 8px;
    font-weight: 400;
}

/* helper classes */
.pre-wrap {
    white-space: pre-wrap;
    word-wrap: break-word;
}
.no-wrap-text  {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.full-height {
    height: 100%;
}
ul.no-list-style {
    list-style: none;
}
.scrollbar {
/*     white-space: pre-line; */
    height: 100%;
    overflow-y: hidden;
    position: relative;
}
.relative-div {
    position: relative;
}
.pointer {
    cursor: pointer;
}
.container-fluid > .row.no-row-padding > [class*='col-sm-'] {
    padding: 0px;
}
/* .no-row-center-padding*/
.container-fluid > .row.no-row-center-padding > [class*='col-sm-']:not(:first-child):not(:last-child) {
    padding: 0px;
}
    .container-fluid > .row.no-row-center-padding > [class*='col-sm-']:first-child {
        padding-right: 0px;
    }
    .container-fluid > .row.no-row-center-padding > [class*='col-sm-']:last-child {
        padding-left: 0px;
    }
.container-fluid.row-full-height,
.container-fluid.row-full-height > .row,
.container-fluid.row-full-height > .row > [class*='col-sm-'] {
    height: 100%
}

/* menu */
#menu {
    height: 50px;
}
    #menu .top-bar {
        height: 100%;
        padding: 10px 0px;
    }
    #menu .current-filters {
/*         display: inline-block; */
/*         width: calc(100% - 70px); */
    }

/* hover over notes */
#notes-display-options {
    display: none;
    position: absolute;
    right: 15px;
    top: 7px;
}

/* color choices */
.color-choices {
    display: block;
    width: 120px;
    margin: auto;
}
    .color-choices .color-choice {
        display: inline-block;
        width: 20px;
        height: 20px;
        padding: 0;
        margin: 0;
        border: 1px solid transparent;
    }
        .color-choices .color-choice:hover {
            border-color: #000;
        }
        .color-choices .color-choice a {
            display: block;
        }

/* notes view */
#notes {
    background: #333;
    height: calc(100% - 50px);
    position: relative;
}
#notes-list {
    margin-bottom: 20px;
    overflow-y: auto;
}
    #notes-list .notes {
        margin-top: 20px;
    }
    #notes-list .note {
        margin: 10px;
        padding: 0px;
        padding-top: 7px;
        background: #CCC;
        overflow-y: hidden;
        height: 250px;
        transition: ease .300s;
    }
        #notes-list.stacked .note {
            max-width: 100%;
            width: 1000px;
            margin: 10px auto 10px auto;
        }
        #notes-list.tiled .note {
            width: 32%;
            min-width: 250px;
            display: inline-block;
        }
        #notes-list .note .header {
            height: 25px;
        }
            #notes-list .note .updated {
                padding-left: 10px;
            }
                #notes-list .note .updated i {
                    cursor: default;
                }
            #notes-list .note .title {
                font-weight: bold;
                text-align: center;
            }
            #notes-list .note .options {
                float: right;
            }
                #notes-list .note .options .dropdown {
                    cursor: pointer;
                    margin-right: 10px;
                }
        #notes-list .note .content {
            height: 185px;
            /* padding-bottom: 10px; */
            /* background: rgba(186, 199, 225, 1.0); */
        }
            #notes-list .note .content .not-editing-text {
                padding: 0px 10px 0px 10px;
            }
        #notes-list .note .tags {
            height: 33px;
            padding-top: 2px;
        }
            #notes-list .note .tags tags {
                display: block;
                padding: 0px 10px;
            }

/* note view */
#note {
    height: 100%;
    width: 100%;
    background: #333;
}
    #note-container {
        max-width: 900px;
        margin: auto;
        background: #CCC;
        height: 100%;
        padding: 10px;
        padding-bottom: 0px;
    }
    #note #note-controls {
        height: 70px;
    }
    #note #note-content {
        height: calc(100% - 70px);
        position: relative;
    }
