@import "stickletDefs.less";
@import "sticklet.less";

#infoContainer {
    height: 100%;
    background: #FFF; //@lightest-background;
    font-size: 1.3rem;
    #logo-image {
        width: 100%;
    }
    #login-register {
        position: absolute;
        top: 10px;
        right: 25px;
    }
    #content {
        padding: 15px 20px;
        > div:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}

.ng-dirty.ng-invalid {
    border-color: #F00;
}
.ng-dirty.ng-valid {
    border-color: #0F0;
}
