@import "stickletDefs.less";

/* helper classes */
.pre-wrap {
    white-space: pre-wrap;
    word-wrap: break-word;
}
.no-wrap-text  {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.no-select {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.bold-text {
    font-weight: @bold-weight;
}
.full-height {
    height: 100%;
}
.full-width {
    width: 100%;
}
.full {
    .full-height;
    .full-width;
}
ul.no-list-style {
    list-style: none;
}
.scrollbar {
    height: 100%;
    overflow-y: hidden;
    position: relative;
}
.scrollbar-x {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: relative;
}
.relative-div {
    position: relative;
}
.pointer {
    cursor: pointer;
}
.container-fluid > .row.no-row-padding {
    > [class*='col-sm-'],
    > [class*='col-md-'] {
        padding: 0px;
    }
}
.container-fluid > .row.no-row-center-padding {
    > [class*='col-sm-']:not(:first-child):not(:last-child) {
        padding: 0px;
    }
    > [class*='col-sm-']:first-child {
        padding-right: 0px;
    }
    > [class*='col-sm-']:last-child {
        padding-left: 0px;
    }
}

.container-fluid.row-full-height,
.container-fluid.row-full-height > .row,
.container-fluid.row-full-height > .row > [class*='col-'] {
    .full-height;
}

.stklt-resize-both {
    transform: rotate(90deg);
}

/* general */
html,body {
    overflow: hidden;
    font: normal @font-size Helvetica, Arial, sans-serif;
    .full-height;
    width: 100%;
    color: @default-font-color;
    background: @dark-background;
}
hr {
    margin: 5px 0px;
    border-color: @font-color;
}
a {
    color: @font-color;
    font-weight: @bold-weight;
    .pointer;
    &:hover {
        text-decoration: none;
        color: @default-font-color;
    }
    &[href]:not([href^='javascript:']):not([href^='#']) {
        color: @link-color;
    }
}
.caret.large-caret {
    border-top-width: 6px;
    border-right-width: 6px;
    border-left-width: 6px;
}
ul.dropdown-menu {
    background: @lightest-background;
    font-size: 1rem;
    margin: 0px;
    border: @default-border;
    border-radius: @border-radius;
    box-shadow: @box-shadow;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    .divider {
        background-color: #AEAEAE;
        margin: 5px 3px;
    }
    > li {
        > a {
            color: @default-font-color;
            font-weight: @bold-weight;
            padding: @default-padding;
            //text-align: center;
            &:hover {
                background: @light-background;
                padding: @default-padding;
                //box-shadow: @box-shadow;
            }
            &:focus {
                outline: none;
            }
        }
        &.active > a {
            &,
            &:hover,
            &:focus,
            &:active {
                background: @dark-background;
                color: #DDD;
            }
        }
    }
}
uib-accordion {
    .panel-heading {
        padding: 0px;
        a.accordion-toggle {
            display: block;
            padding: 10px 15px;
        }
    }
    .panel-collapse {
        transition-duration: .250s;
        .panel-body {
            min-height: 100px;
        }
    }
}
.nav-pills {
    background: @lightest-background;
    > li {
        border: 1px solid #CCC;
        + li {
            margin-top: 0px;
        }
        > a {
            color: @default-font-color;
            font-weight: @bold-weight;
            border-radius: 0px;
            
            //padding: @default-padding;
            //text-align: center;
            &:hover {
                background: @light-background;
                //padding: @default-padding;
                //box-shadow: @box-shadow;
            }
            &:focus {
                outline: none;
            }
        }
        &.active > a {
            &,
            &:hover,
            &:focus,
            &:active {
                background: @dark-background;
                color: #DDD;
            }
        }
    }
}
.btn {
    font-size: 1rem;
    padding: @default-padding;
    color: @font-color;
    text-decoration: none;
    position: relative;
    display: inline-block;
    //text-shadow: 0 1px 0 #CCC;
    background: @button-background;
    border: @default-border;
    border-radius: @border-radius;
    transition: border-color .218s;
    cursor: pointer;
    outline: none !important;
    &:hover {
        color: #333;
        border-color: @border-hover-color;
        background-color: @button-background-hover;
    }
    &:active {
        color: #000000;
        border-color: #444444;
    }
    &:focus {
        outline: none;
    }
    &.btn-danger {
        background: @danger-button-background;
    }
    &[disabled] {
        opacity: 1;
        background: #CCC;
        color: #AAA;
        &:active,
        &:hover,
        &:focus {
            border: @default-border;
        }
    }
}
.tag-label {
    padding: 4px;
    border: @default-border;
    border-radius: @border-radius;
    //margin-right: 5px;
    margin-left: 5px;
    //&:last-child {
    //    margin-right: 0px;
    //}
    position: relative;
    display: inline-block;
    clear: both;
    font-size: @small-font;
    background: @lightest-background;
    .name {
        padding: @default-padding;
    }
    .close {
        font-size: @large-font;
    }
}
.stklt-input {
    width: 100%;
    padding: @default-padding;
    font-weight: 400;
    border: @default-border;
    &:hover {
        border-color: @border-hover-color; 
    }
    &:focus {
        outline: none;
    }
    &.stklt-input-small {
        width: 200px;
    }
}
.stklt-label {
    padding: @default-padding;
    margin-bottom: 0px;
    color: @font-color;
}
.stklt-header {
    //font-size: 1.4rem;
    font-size: 1.3rem;
    margin: 0;
    text-align: center;
    display: block;
    font-weight: @bold-weight;
    padding: 10px;
}
/* ngAnimate classes  */
.stklt-pull-up {
    &.ng-enter,
    &.ng-leave {
        transition: @default-transition-time cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        position: relative;
        display: block;
    }
    &.ng-enter.ng-enter-active, 
    &.ng-leave {
        opacity: 1;
        top: 0;
        height: 25px;
    }
    &.ng-enter,
    &.ng-leave.ng-leave-active {
        opacity: 0;
        top: -45px;
        height: 0px;
    }
}
.stklt-fade {
    &.ng-leave {
        transition: @default-transition-time linear all;
        opacity: 1;
    }
    &.ng-leave.ng-leave-active {
        opacity: 0;
        transition: @default-transition-time linear all;
    }
    &.ng-enter {
        transition: @default-transition-time linear all;
        opacity: 0;
    }
    &.ng-enter-active {
        opacity: 1;
    }
}
.stklt-slide {
    &.ng-enter {
        transition: @default-transition-time linear all;
        transform: translateX(-100px);
        opacity: 0;
        z-index: -1;
    }
    &.ng-enter.ng-enter-active {
        transform: translateX(0);
        opacity: 1;
        z-index: 1;
    }
    &.ng-leave {
        transition: @default-transition-time linear all;
        transform: translateX(0);
        opacity: 1;
        z-index: 1;
    }
    &.ng-leave.ng-leave-active {
        transform: translateX(-100px);
        opacity: 0;
        z-index: -1;
    }
}

/* menu */
#menu {
    height: @menu-height;
    //background: @light-background;
    background: @lightest-background;
    border-bottom: @default-border;
    position: relative;
    overflow: visible;
    &.mobile {
        padding: 6px 10px;
        #clear-filters {
            display: inline-block;
            //margin-top: 2px;
            padding: 6px;
        }
        #menu-open {
            padding: 5px 10px;
            font-size: 1.2rem;
        }
    }
    .top-bar {
        height: 100%;
        padding: @menu-padding;
        #reset-filters {
            padding: 5px;
        }
        .current-filters {
            padding: 0px 10px;
        }
        #batch-edit-btn {
            margin-right: 10px;
        }
    }
}
#menu-dropdown {
    background: @lightest-background;
    //position: absolute;
    //top: @menu-height;
    //right: 0px;
    //left: 0px;
    min-height: ~"calc(30% - @{menu-height}px)";
    //padding: 5px 10px;
    padding: 10px;
    //z-index: 100;
    #sort-options {
        margin-bottom: 10px;
        text-align: center;
        #order {
            margin-left: 10px;
        }
    }
    .current-filters {
        margin-top: 10px;
        .tag-label {
            margin-bottom: 5px;
        }
    }
    .links > div {
        display: inline-block;
        padding: 10px;
    }
}

/* hover over notes */
#notes-options {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 1px;
    #create-note,
    #batch-edit,
    #notes-display-options {
        display: inline-block;
        position: absolute;
        top: 7px;
    }
    #create-note {
        left: 15px;
    }
    #batch-edit {
        left: ~"calc(50% - 105px)";
        > div {
            display: inline-block;
        }
    }
    #notes-display-options {
        right: 15px;
        #notes-sort {
            display: inline-block;
            margin-right: 15px;
        }
    }
}

/* color choices */
.color-choices {
    display: block;
    width: 100%;
    text-align: center;
    .color-choice {
        display: inline-block;
        width: 20px;
        height: 20px;
        padding: 0;
        margin: 0;
        border: @default-border;
        border-color: transparent;
        &:hover {
            border: @default-border;
        }
        a {
            display: block;
            height: 100%;
        }
    }
}
.note-menu {
    .color-choices {
        .color-choice {
            display: inline-block;
            width: 30px;
            height: 30px;
            margin: 10px 5px;
        }
    }
}

/* notes view */
#notes {
    background: @dark-background;
    height: ~"calc(100% - @{menu-height}px)";
    position: relative;
    #notes-list {
        margin-bottom: 20px;
        overflow-y: auto;
        .notes {
            position: relative;
            .noteContainer {
                padding: 0;
                position: relative;
                min-height: 25px;
                .note {
                    background: @light-background;
                    overflow: hidden;
                    height: 100%;
                }
            }
        }
        &.mobile .notes {
            .noteContainer {
                height: @note-mobile-height;
                margin: 5px;
                .note {
                    padding: 0px;
                    .no-select;
                    cursor: pointer;
                    .title {
                        padding: 3px 5px;
                        //height: ~"calc(2rem + 10px)";
                        height: @note-mobile-header-height;
                        border-bottom: 1px solid #AAA;
                        font-weight: bold;
                    }
                    .content {
                        padding: 3px 5px;
                        height: @note-mobile-height - @note-mobile-header-height - 12px;
                        overflow: hidden;
                    }
                    .updated {
                        height: 10px;
                        font-weight: bold;
                        font-size: @small-font;
                        padding-left: 10px;
                    }
                }
            }
        }
        &:not(.mobile) .notes {
            margin-top: 20px;
            margin-bottom: @notification-menu-height + 3px;
            .noteContainer {
                height: @note-height;
                margin: 10px;
                transition: ease .300s;
                .note {
                    padding: 0px;
                    padding-top: @note-top-padding;
                    padding-bottom: @note-bottom-padding;
                    border: @note-border-size solid transparent;
                    &.editing .header .title.editing {
                        margin-top: -7px;
                    }
                    &.batchSelect {
                        border: @batch-select-border;
                        opacity: .5;
                    }
                    &.batchSelectHover:not(.batchSelect) {
                        border: @batch-select-hover-border;
                        opacity: .8;
                    }
                    .header {
                        height: @note-header-height;
                        padding-top: 5px;
                        border-bottom: @note-header-border;
                        .updated {
                            padding-left: 10px;
                            i {
                                cursor: default;
                            }
                        }
                        .title {
                            font-weight: bold;
                            text-align: center;
                            a {
                                display: block;
                            }
                        }
                        .options {
                            float: right;
                            .dropdown {
                                cursor: pointer;
                                margin-right: 10px;
                                margin-top: -2px;
                            }
                        }
                    }
                    .content {
                        height: @note-content-height;
                        .not-editing-text {
                            padding: 10px 10px 0px 10px;
                        }
                    }
                    .tags {
                        height: @note-tags-height;
                        padding-top: 2px;
                        .no-wrap-text;
                        //border-top: @default-border;
                        tags {
                            display: block;
                            //padding: 0px 10px;
                            height: 100%;
                            tag-selector {
                                margin-right: 200px;
                            }
                            .tag {
                                white-space: normal;
                                &:first-child {
                                    margin-left: 10px;
                                }
                            }
                            .tag-label:last-child {
                                margin-right: 0;
                            }
                            .tags-dropdown-toggle {
                                margin: 0px 10px;
                            }
                        }
                    }
                    .resize-area {
                        position: absolute;
                        bottom: 5px;
                        right: 5px;
                        cursor: se-resize;
                    }
                }
            }
        }
        &:not(.mobile).stacked .noteContainer {
            max-width: 100%;
            width: @note-max-width;
            margin: 10px auto 10px auto;
            height: auto;
            .note .content {
                height: auto;
                min-height: @note-content-height;
                max-height: @note-max-height;
                .scrollbar {
                    max-height: @note-max-height;
                }
            }
        }
        &:not(.mobile).tiled {
            overflow: hidden;
            .noteContainer {
                width: 32%;
                min-width: 250px;
                display: inline-block;
                &[tiled-stickies] {
                    position: absolute;
                    transition: none;
                    min-height: @note-height;
                    min-width: @note-height;
                    max-height: @note-max-height;
                    max-width: @note-max-width;
                    .note:not(.editing) {
                        cursor: move;
                    }
                }
                .note {
                    .content {
                        height: ~"calc(100% - (@{note-tags-height}px + @{note-header-height}px))";
                    }
                    .tags {
                        position: absolute;
                        bottom: 0px;
                        right: 0px;
                        left: 0px;
                    }
                }
            }
        }
        &:not(.mobile).title .noteContainer {
            width: 32%;
            display: block;
            margin: auto;
            height: auto;
            margin-bottom: 10px;
            .note  {
                .header {
                    border-bottom: none;
                }
                .content,
                .tags {
                    display: none;
                }
            }
        }
    }
}
ul.tags-dropdown {
    .tag-search-create {
        color: @light-font-color;
        font-weight: 400;
    }
}

/* note view */
#note {
    height: 100%;
    width: 100%;
    background: @dark-background;
    .basic-page-main {
        padding: 0px;
        #close-edit-view {
            position: absolute;
            top: 0px;
            right: 0px;
            z-index: 10000;
        }
    }
    #note-container {
        background: @light-background;
        height: 100%;
        padding: 0 15px;
        #note-controls {
            padding-top: 10px;
            #note-info {
                .title {
                    //margin-top: 15px;
                }
            }
            #note-tags {
                padding: 10px 0px;
            }
            hr {
                margin-bottom: 0px;
            }
        }
        #note-content {
            position: relative;
        }
        #edit-note-button {
            position: absolute;
            bottom: 0px;
            right: 10px;
            border: 1px solid @font-color;
            padding: 5px 7px;
            border-radius: 15px;
            &:hover {
                border-color: @default-font-color;
            }
        }
    }
}
/* note-context-menu */
#note-context-menu {
    
}

.context-menu {
    display: none;
    position: absolute;
    width: 225px;
    min-height: 50px;
    background: #FFF;
    border: @default-border;
}

/* notifications menu */
#notifications {
    display: block;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: @notification-menu-height;
    background: @light-background;
    font-size: @small-font;
    overflow: hidden;
    border-top: @default-border;
    notifications {
        display: block;
        height: 100%;
        padding: 0 10px;
        .notification {
            display: inline-block;
            //padding: @default-padding;
            padding: 2px;
            margin-top: 1px;
            border: @default-border;
            border-radius: @border-radius;
            background: @lightest-background;
            &:not(:last-child) {
                margin-right: 10px;
            }
            .text {
                padding: @default-padding;
                font-weight: @bold-weight;
            }
            .close {
                font-size: @large-font;
            }
        }
        #network-active {
            display: inline-block;
            float: right;
            padding: @default-padding;
        }
    }
}

/* Settings page */
#settings {}

/* data management page */
#data {
    .import-details {
        margin: 15px 0px;
    }
}
/* trash */
#trash {
    @note-restore-height: 32px;
    .note-restore {
        height: @note-restore-height;
        margin-bottom: 5px;
    }
    .static-note {
        height: ~"calc(100% - @{note-restore-height}px);";
    }
}
/* archive */
#archive {
    @note-actions-height: 32px;
    .note-actions {
        height: @note-actions-height;
        margin-bottom: 5px;
    }
    .static-note {
        height: ~"calc(100% - @{note-actions-height}px);";
    }
}
/* tags page */
#tags-admin {
    .tag-actions {
        padding: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
}
/* note version page */
#version {
    @border-color: #AAA;
    .table.table-bordered {
        border-color: @border-color;
        thead > tr > th {
            border: none;
        }
        tbody > tr > td {
            border-color: @border-color;
        }
    }
}

.basic-page {
    height: 100%;
    background: @dark-background;
    display: block;
    .basic-page-main {
         position: relative;
         background: @light-background;
        > .close {
            position: absolute;
            top: 3px;
            right: 10px;
            z-index: 100;
        }
        .basic-page-content {
            height: 100%;
        }
    }
}
.static-note {
    height: 100%;
    display: block;
    .note-content-area {
        padding: 15px;
    }
}
.content-page {
    height: 100%;
    background: @dark-background;
    display: block;
    .content-page-main {
        position: relative;
        background: @light-background;
        //padding-top: 10px;
        .content-page-header {
            height: @content-page-header-height;
            h1 {
                .stklt-header;
            }
            > .close {
                position: absolute;
                top: 3px;
                right: 10px;
                z-index: 100;
            }
        }
        .content-page-body {
            height: ~"calc(100% - @{content-page-header-height}px)";
            .content-page-nav {
                //width: 26%;
                //min-width: 200px;
                height: 100%;
                display: inline-block;
                vertical-align: top;
                @content-page-filter-height: 25px;
                .content-page-filter {
                    height: @content-page-filter-height;
                }
                .content-page-list {
                    height: ~"calc(100% - @{content-page-filter-height}px)";
                }
            }
            .content-page-content {
                height: 100%;
                //width: 73%;
                display: inline-block;
                vertical-align: top;
            }
        }
    }
}

/* trix editor */
trix-editor {
    background: #FFF;
    padding: 10px;
    min-height: @note-content-height;
    border-radius: 0px;
}
stklt-trix-toolbar {
    display: block;
    position: sticky;
    top: 0px;
    right: 0px;
    left: 0px;
    padding: @default-padding;
    background: @light-background;
    border: @default-border;
    .sections {
        display: inline-block;
        .section {
            display: inline-block;
            border-right: @default-border;
            padding: 0 4px;
            &:first-child {
                padding-left: 0px;
            }
            &:last-child {
                padding-right: 0px;
                border-right: none;
            }
            > button {
                background: @light-background;
                color: @font-color;
                font-weight: @bold-weight;
                padding: 3px;
                border: none;
                .pointer;
                &:hover {
                    text-decoration: none;
                    &:not([disabled]) {
                        color: @default-font-color;
                    }
                }
                &[disabled] {
                    color: #AAA;
                }
                &.active {
                    color: #FFF;
                }
            }
        }
    }
    .dialogs {
        position:absolute;
        bottom: -33px;
        left: 0px;
        right: 0px;
        display: block;
        background: #CCC;
        > :not(.active) {
            display: none;
        }
        > .active {
            padding: 5px 10px;
            border: @default-border;
        }
        .button_group {
            display: inline-block;
        }
        .link_url_fields {
            input[type='text'],
            input[type='url'] {
                width: 30%;
                min-width: 200px;
                max-width: 300px;
            }
        }
    }
}
trix-toolbar {
    .button_group {
        margin: 0px;
        button {
            background: @lightest-background;
            ::before {
                display: none;
            }
        }
    }
}

/* Popup style */
.sticklet-popup-backdrop {}
.sticklet-popup-window {
    .sticklet-popup {
        background: @lightest-background;
        border-radius: @border-radius;
        .modal-header,
        .modal-body,
        .modal-footer {
            border: none;
        }
        &:not(.note-menu) .modal-body {
            padding: 40px 15px;
        }
    }
}
